{
	"printWidth": 80,
	"tabWidth": 2,
	"tabs": false,
	"semi": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"singleQuote": true,
	"overrides": [
		{
			"files": [
				"**/*.css",
				"**/*.html"
			],
			"options": {
				"singleQuote": false
			}
		}
	]
}
